<footer class='container-fluid'>
  <div class='footer-wrapper row '>
    <div class='contact col-md'>
      <h2> CONTACT </h2>
      <h3> Miguel Lopez </h3>
      <h4> 925-766-1784 </h4>
    </div>
<!--
    <div class='footer-navigation col-md'>
        <h2> NAVIGATE </h2>
        <h4> HOME </h4>
        <h4> SHOP </h4>
        <h4> ABOUT </h4>
    </div> -->
  </div>
</footer>
