<ul class="custom-nav nav nav-tabs">
		<li>hey
			<!-- <%= link_to "Home", root_path %> -->
		</li>
		<li class="dropdown pull-right">
			 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Options<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li>hi
				</li>
			</ul>
		</li>
</ul>
