// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static_img img {
  width: 100%;
  max-width: 1800px;
  display: block;
  margin: auto;
}

.static_img {
  width: 100%;
  background-color: gray;

  justify-content: center;
  align-items: center;
}

.horizontal-equipment {
  width: 100%;
  justify-content: center;
  align-items: center;
  // overflow-y: hidden;
  overflow-x: scroll;
  display: inline-flex;
  border-bottom: 2px solid #d6d8db;
  padding-bottom: 3%;
  padding-top: 3%;
}

.equipment-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 5%;
}

.images h3 {
  text-align: center;
}

#vendor-images {
  justify-content: center;
  align-items: center;
  // display: inline-flex;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.vendor-col {
  justify-content: center;
  align-items: center;
  display: inline-flex;

}

.vendor_row {
  justify-content: center;
  align-items: center;
  // border: 1px solid purple;
}


#vendor-images img {
  width: 60%;
  height: auto;
  max-width: 350px;
}
