// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.static_img img {
  width: 100%;
  max-width: 1800px;
  display: block;
  margin: auto;
}

.static_img {
  width: 100%;
  background-color: gray;

  justify-content: center;
  align-items: center;
}

.horizontal-equipment {
  width: 100%;
  justify-content: center;
  align-items: center;
  // overflow-y: hidden;
  overflow-x: scroll;
  display: inline-flex;
  border-bottom: 2px solid #d6d8db;
  padding-bottom: 3%;
  padding-top: 3%;
}

.equipment-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 5%;
}

.images h3 {
  text-align: center;
}

#vendor-images {
  justify-content: center;
  align-items: center;
  // display: inline-flex;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.vendor-col {
  justify-content: center;
  align-items: center;
  display: inline-flex;

}

.vendor_row {
  justify-content: center;
  align-items: center;
  // border: 1px solid purple;
}


#vendor-images img {
  width: 60%;
  height: auto;
  max-width: 350px;
}

.product_block{
  width: 200px;
  text-align: center;
  border: 1px solid #000000b8;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 12px;
  margin-left: 12px;
  display: inline-block;
  float: left;
}

.product_name{
  background-color: #bd0404;
  color: black;
  font-size: 14px;
  height: 30px;
  line-height: 27px;
  text-transform: uppercase;
}

.product_image{
  padding-bottom: 8px;
  padding-top: 8px;
}

.shop_content{
  clear: both;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.all_products{
  text-align: center;
  width: 900px;
  margin: auto;
}

.new_product{
  color: black;
  font-weight: bold;
}

.search_img{
  height: 22px;
  margin-left: 15px;
}

.search_bar{
  margin-left: 145px;
}

.product_form{
  margin-left: 50px;
}

.product_pic{
  text-align: right;
  padding-right: 30px !important;
}

.product_show{
  margin-top: 40px;
}

.product_info{
  padding-left: 40px;
}
