html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 150px;
}
footer {
    background: silver;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #606163;
    color: white;
}
