#navbar {
  margin-bottom: 0;
  padding-bottom: 0;
}

nav img {
  width: 25%;
  height: auto;
  padding: 0;
  margin-top: 10px;
  display: inline-block;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-container {
  background-color:#606163;

}

.navbar-inner {
  text-align:center;
  background-color:#606163;
  color: white;
  font-size: 2em;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav a {
  color:white;
}

nav h3 {
  display: inline-block;
  clear:both;
  position: absolute;
  bottom: 0;
  right: 0;
}

.mynav {
  position:relative;

}
